PORT=3002
MONGO_URI=mongodb://<user>:<password>@<host>:27017/
MONGO_DB_NAME=client2

BLOCK_ID_CLIENT_ID=client2
BLOCK_ID_API_KEY=<shared-secret-between-this-exchange-and-block-id-server>
BLOCK_ID_GRANT_CODE_VALID_MINUTES=5
